.navbar{
  position: fixed; /*absoulte로 바꾸며 확인가능*/
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px; /*상하 좌우*/
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*alpha는 투명도*/
  z-index: 1000;
}